
<div id="container">
    <div id="row">
        <div class="box">
            <div id="nav">
                <ul class="menu">
                    <li> <%= link_to "Our Hostel", root_path %> </li>
                    <li> <%= link_to "Accommodation", accommodation_path %> </li>
                    <li> <%= link_to "Location", location_path %> </li>
                    <li> <%= link_to "Services & Amenities",  service_path %> </li>
                    <li> <%= link_to "Map & Contact",  map_path %> </li>
                    <li> <%= link_to "Offers",  offer_path %> </li>
                    <li> <%=link_to "Gallery", gallery_path %> </li>
                </ul> <!-- end menu -->
            </div> <!-- end nav -->
            <div class="reserv">
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">check-in</span>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">check-out</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div> <!-- end input-daterange -->
                <div class="make_reservation">
                    <%= button_to "Check Availability", reservation_path, :class => "button", :method => :get  %>
                </div> <!-- end make_reservation -->
            </div> <!-- end reserv -->

            <div class="col-lg-12 text-center">
                <div class="col-lg-13 ">
                    <div id="sync1" class="owl-carousel ">
                        <div class="item">
                            <img class="lg-image" src="assets/slide-1.jpg" >
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-2.jpg" >
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-3.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-4.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-5.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-6.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-7.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-8.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-9.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-10.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-11.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-12.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-13.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-14.jpg">
                        </div>
                        <div class="item">
                            <img class="lg-image" src="assets/slide-15.jpg">
                        </div>
                    </div>
                </div> <!-- end col-lg-13 -->
                <div class="col-lg-14 text-center">
                    <div id="sync2" class="owl-carousel">
                        <div class="item">
                            <img class="sm-image" src="assets/slide-1.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-2.jpg" >
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-3.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-4.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-5.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-6.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-7.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-8.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-9.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-10.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-11.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-12.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-13.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-3.jpg">
                        </div>
                        <div class="item">
                            <img class="sm-image" src="assets/slide-15.jpg">
                        </div>
                    </div>
                </div> <!-- end col-log-14 -->
                <h2 class="title_center_1">   WHAT MAKES US PERFECT? </h2>

                <h2 class="brand-before1">
                Our authentic, brand-new Caucasus Hostel provides backpackers and budget-minded globetrotters all the comfort of a boutique hostel and the coziness and warmth of a home-stay. We have a strong focus on creating a clean, open and friendly social environment making Caucasus Hostel the ideal base for travelers who want to explore Yerevan and have an experience of a lifetime. <br> <br>

                Our boutique hostel provides comfortable and quality dorm rooms, each dedicated to amazing discovers – just like you. We also have comfy private rooms with shared bathrooms and the addition of off premises apartments for added privacy. Our attentive multi-lingual staff is always ready to help you on your journey. All of our staff members speak English in addition to Russian, French and more.<br><br>

                Caucasus hostel provides you with access to the best services and facilities where you will be able to relax in a comfortable atmosphere and get a good night sleep.<br><br>

                The bar with the variety of drinks at affordable prices and the open air café with its warm atmosphere are meant to turn your stay at our elegant hostel into a real celebration.<br><br>

                Our hostel includes: A fully equipped kitchen, computer lounge, reception & tourist information desk, living-room with cable TV, bar & chill out patio for making new friends, privilege of smoking kalian. At night, pamper yourself with our customized beds, thick mattresses, plush pillows and sockets on each bed. Store your items safely in individual lockers. A/C and all the relaxation you will need for a good night's sleep.</h2>

                <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>Caucasus Hostel</strong>
                        </small>
                    </h2>
            </div> <!-- end col-lg-12 -->
        </div> <!-- end box -->
    </div> <!-- end row -->
</div> <!-- /.container -->

<script type="text/javascript">
    $(document).ready(function(){
        $('.input-sm').datepicker();
    });
</script>