
<div id="container">
    <div id="row">
        <div class="box">
            <div id="nav">
                <ul class="menu">
                    <li> <%= link_to "Our Hostel", root_path %> </li>
                    <li> <%= link_to "Accommodation", accommodation_path %> </li>
                    <li> <%= link_to "Location", location_path %> </li>
                    <li> <%= link_to "Services & Amenities",  service_path %> </li>
                    <li> <%= link_to "Map & Contact",  map_path %> </li>
                    <li> <%= link_to "Offers",  offer_path %> </li>
                    <li> <%=link_to "Gallery", gallery_path %> </li>
                </ul> <!-- end menu -->
            </div> <!-- end nav -->
            <div class="reserv">
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">check-in</span>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">check-out</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div> <!-- end input-daterange -->
                <div class="make_reservation">
                    <%= button_to "Check Availability", reservation_path, :class => "button", :method => :get  %>
                </div> <!-- end make_reservation -->
            </div> <!-- end reserv -->

            <div class="col-lg-12 text-center">
                <h2 class="title_center"> OUR HOSTEL ROOMS </h2>
                <h2 class="our_rooms">
                We have private and dormitory rooms in addition to private apartments of different sizes and configurations, enough choice to suit every guest and budget. In Caucasus Hostel you will be offered an ideal choice, no matter you are traveling alone, as a couple, or with friends or family. <br> <br>

                If you're a backpacker traveling alone or in a larger group-we have shared dormitories for up to 8 people, with individual power sockets next to the beds, and private lockers totally for free/24 hours.
                <br><br>
                All this makes our accommodation options suitable for travelers looking for something more.</h2>
            </div> <!-- end col-lg-12-->

            <div id="rooms" >
                <h2 class="db_rooms"> Single rooms</h2>
                <div class="double_room-l">
                  <img class="img_db-l" src="assets/slide-6.jpg">
                  <p class="single_rooms_p"> SUPERIOR SINGLE ROOMS</p>
                  <h2 class="db_room_text-r"> Our Superior Single Room is a great choice for those single travellers who are more budget conscious but still want that extra special care and style.  This comfortable room with a double bed is an ideal place for the individual guest to rest in peace and quiet.  <br>
                    Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Shared toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2> <br><br><br>

                    
               <h2 class="db_price"> High season rate: 9000AMD/20$ <br>
                                     Low season rate: 8000AMD/17$</h2><br>
                  <hr class="seperate"> <br>

                  <img class="img_db-r1" src="assets/slide-6_1.jpg">
                  <p class="single_rooms_p"> DELUXE SINGLE ROOMS</p>

                  <h2 class="db_room_text-l"> In a harmonious and relaxing environment, furnished with elegant taste, the Deluxe Single Room is endowed with every comfort. A large and comfortable double bed occupies the largest space in the room, offering full relaxation after an active day.<br><br>   
                    Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Shared toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2> 

                    
               <h2 class="db_price-r"> High season rate: 12000AMD/25$ <br>
                                       Low season rate: 10000AMD/20$</h2>
                </div>

                <h2 class="db_rooms"> DOUBLE ROOMS</h2>
                <div class="double_room-l">
                  <img class="img_db-l1" src="assets/slide_7_1.jpg">
                  <p class="single_rooms_p"> STANDARD  DOUBLE  ROOMS</p>

                  <h2 class="db_room_text-r"> Our Standard Double Room offers you a comfortable retreat after a busy day. Whether you are in Yerevan for business or leisure the double room makes your stay relax. Destress on the comfortable bed even when you’re not sleeping. Enjoy the FREE WiFi, that keeps you seamlessly connected to your work and network. <br><br>
                    Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Shared toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2> 

                    
               <h2 class="db_price"> HIGH SEASON RATE: 12000AMD/25$ <br>
                                     LOW SEASON RATE: 10000AMD/20$</h2><br>

                  <hr class="seperate"> <br>


                  <img class="img_db-r1" src="assets/slide_7_2.jpg">
                  <p class="single_rooms_p"> DELUXE DOUBLE ROOMS</p>

                  <h2 class="db_room_text-l"> The Deluxe Double Room, providing a good balance of space and value, is meant to make your stay enjoyable. This elegant Deluxe room features modern decor, beautiful furniture and other amenities to ensure your memorable stay in Caucasus Hostel.<br><br>   
                    Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Shared toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2> 

                    
               <h2 class="db_price-r"> HIGH SEASON RATE: 16000AMD/35$ <br>
                                       LOW SEASON RATE: 14000AMD/30$</h2>

                </div>

                <h2 class="db_rooms"> Deluxe Triple/Family Rooms</h2>
                <div class="double_room-r">
                  <img class="img_db-l_tr" src="assets/slide_7_3.jpg">
                  <h2 class="db_room_text-r"> The delightfully furnished Deluxe Triple/Family Room can accommodate up to three people. This elegant room offers one double bed and one single bed with plenty of space for luggage as well. <br> <br>
                    Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Shared toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2><br><br><br>

                    
               <h2 class="db_price">HIGH SEASON RATE: 20000AMD/42$ <br>
                                      LOW SEASON RATE: 18000AMD/38$</h2>
                </div>




                <h2 class="db_rooms"> Standard 7-bed Dormitory</h2>
                <div class="double_room-r">
                  <img class="img_db-r_dorm" src="assets/slide_7_4.jpg">
                  <h2 class="db_room_text-l"> Would you like to share a room right in the centre of Yerevan? You can do it at Caucasus Hostel. Staying in one of our dorms you will have the access to everything you need, just in one room.Our 7-bed dormitories are ideal for individual travelers on a budget or for small groups. <br> <br>
                    Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Shared toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2> <br><br><br>

                    
               <h2 class="db_price-r_dorm"> HIGH SEASON RATE: 4500AMD/10$ <br>
                                       LOW SEASON RATE: 3500AMD/8$</h2>
                </div>

                <h2 class="db_rooms">Superior Apartment</h2>
                <div class="double_room-l">
                  <img class="img_db-r_apartment" src="assets/slide_7_5.jpg">
                  <h2 class="db_room_text-r"> All our apartments are equipped with incredible set of services and all the modern conveniences  like kitchenette, washing machine, air conditioners, closets, free Wi-Fi, TV sets - at the most affordable prices.  <br> <br>
                     Breakfast Included  <br> 
                    Free Wifi <br>
                    Fresh and Clean Bed Sheets<br>
                    Free towels<br>
                    Ensuite toilet/shower<br>
                    Free day left luggage<br>
                    24hr reception and security<br>
                    Travel support and holiday planning<br>
                    Bar and open air café<br>
                    Late arrival hours must be indicated<br>
                    Check-in:14:00<br>
                    Check-out: 11:00<br></h2>
                    
               <h2 class="db_price-r_apart"> HIGH SEASON RATE: 25000AMD/52$ <br>
                                       LOW SEASON RATE: 22000AMD/45$</h2>
                </div>


            </div> <!-- end rooms -->





            
                <div class="col-lg-12 text-center">
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>Caucasus Hostel</strong>
                        </small>
                    </h2>
            </div><!-- end col-lg-12 -->
        </div> <!-- end box -->
    </div> <!-- end row -->
</div> <!-- /.container -->


 <script type="text/javascript">
    $(document).ready(function(){
        $('.input-sm').datepicker();
    });
</script>
